.mediacontainer {
  min-height: auto;
  margin-top: 100px;
  font-family: "poppins";
  position: relative;
  box-sizing: border-box;
}
.mediacontainer .title {
  padding: 5vw 0 0 4vw;
}

.mediacontainer .title .line h3 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 600;
  color: #42484cd4;
  position: relative;
  line-height: 8.5vw;
}
.mediacontainer .title .line2 h3 {
  color: var(--primary-color);
}

.mediacontainer .title-container {
  overflow: hidden;
}
.mediacontainer .title span {
  color: var(--primary-color);
}

.gallery {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 90%;
  gap: 10vw;
  margin: 4vh auto;
  overflow: hidden;
}

.gallery .leftpart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-direction: column;
}
.gallery .rightpart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-direction: column;
}

.blur-background {
  position: absolute;
  top: 5%;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgb(253, 90, 15) 0%,
    rgb(253, 90, 15) 100%
  );
  filter: blur(45px); /* Adjust for more or less blur */
  z-index: -1;
  opacity: 0.8; /* Optional for slight transparency */
}

.gallery .leftpart img,
.gallery .rightpart img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
