.mediacontainer {
  min-height: auto;
  margin-top: 100px;
  font-family: "poppins";
  position: relative;
  box-sizing: border-box;
}
.mediacontainer .title {
  padding: 5vw 0 0 4vw;
}

.mediacontainer .title .line h3 {
  font-size: 5.5vw;
  text-transform: uppercase;
  font-weight: 600;
  color: #42484cd4;
  position: relative;
  line-height: 6vw;
}
.mediacontainer .title .line2 {
  overflow: hidden;
}
.mediacontainer .title .line2 span {
  letter-spacing: -1vw;
}
.mediacontainer .title .line2 h3 {
  color: var(--primary-color);
}

.mediacontainer .title-container {
  overflow: hidden;
}
.mediacontainer .title span {
  color: var(--primary-color);
}

.gallery {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 90%;
  gap: 5vw;
  margin: 4vh auto;
}

.gallery .leftpart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-direction: column;
}
.gallery .rightpart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-direction: column;
}

@keyframes morphShape {
  0% {
    transform: scale(1) skew(0deg); /* Start with the original shape */
  }
  25% {
    transform: scale(1.1) skew(5deg, 5deg); /* Slightly distort */
  }
  50% {
    transform: scale(0.9) skew(-5deg, -5deg); /* Distort in the other direction */
  }
  75% {
    transform: scale(1.05) skew(10deg, 0deg); /* Skew horizontally */
  }
  100% {
    transform: scale(1) skew(0deg); /* Return to original shape */
  }
}

.blur-background {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgb(253, 90, 15) 0%,
    rgb(253, 90, 15) 100%
  );
  transform: translate(-50%, -50%);
  filter: blur(45px); /* Adjust for more or less blur */
  z-index: -1;
  opacity: 0.7; /* Optional for slight transparency */
  animation: morphShape 5s infinite ease-in-out;
}

.gallery .leftpart img,
.gallery .rightpart img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 1vw;
}
