.breadcrumb {
  height: 35%;
  margin-top: 100px;
  width: 100%;
  background: linear-gradient(to right, #fbdbce, #feefe7);
  padding-left: 4vw;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.breadcrumb .breadcrumb-img {
  height: 100%;
  width: fit-content;
  opacity: 0.85;
  object-fit: cover;
  margin-right: 2vw;
}

.breadcrumb-text {
  padding-top: 2vw;
}

/* 
.breadcrumb::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #FDE7DD;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
} */
/* background-size: cover; */
/* background-image: url("../../../public/images/aboutchemicals.png"); */

.breadcrumb-link {
  text-transform: capitalize;
}

.breadcrumb-link a {
  text-decoration: none;
  color: #000;
  font-size: 1.4vw;
}

.breadcrumb-link i {
  font-size: 1.5vw;
}

.breadcrumb-product-title {
  color: #000;
  font-size: 5vw;
  position: absolute;
  top: 33%;
  font-weight: 400;
  left: 3.5%;
}

.breadcrumb-desc {
  width: 90%;
  margin: 1vw 0;
  padding: 0 0 0 2vw;
}

.breadcrumb-desc p {
  font-size: 1.4vw;
}

/* let's do mobile optimization */

@media (max-width: 768px) {
  .breadcrumb {
    height: 20%;
    width: 100%;
  }
  .breadcrumb-text {
    width: 50%;
  }
  .breadcrumb-link a {
    font-size: 2vw;
  }
  .breadcrumb-link i {
    font-size: 2vw;
  }
  .breadcrumb-desc {
    width: 100%;
    padding: 2vw;
  }
  .breadcrumb-desc p {
    font-size: 3vw;
  }
  .breadcrumb-product-title {
    color: #000;
    font-size: 6vw;
    position: relative;
    top: 10%;
    font-weight: 400;
    /* left: 3.5%; */
    width: 100%;
  }
}
