.downloadbrochure {
    height: 50%;
    position: relative;
    width: 100%;
    background: linear-gradient(to left, #f37444, #fbc9ad);
    margin: 0 auto;
    display: flex;
    padding-left: 8.5vw;
    margin-bottom: 4vw;

}

.leftpart {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    justify-content: center;
    gap: 3vw;
}


.leftpart .mainhead h2 {
    font-size: 5.5vw;
    line-height: 6vw;
    text-transform: uppercase;
    /* color: #410b09; */
    color: #000;
    font-weight: 600;

}

.leftpart .downloadcontainer {
    /* background-color: #fde6d7; */
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding: 1vw 2vw;
}



.leftpart .downloadcontainer .downloadbtn {
    text-decoration: none;
    font-size: 1.5vw;
    color: #fff;

}

.leftpart .downloadcontainer i {
    font-size: 2vw;
    color: #fff;
    margin-left: 0.3vw;
}

.rightpart {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.rightpart .stage {
    position: absolute;
    height: 100%;
    width: fit-content;
    bottom: 0;
}

.rightpart .bottle {
    position: absolute;
    height: 100%;
    width: fit-content
}