.products-tab-container {
    /* background-color: #ddd; */
    padding: 2vw 0;
    margin: 4vw 0;
    min-height: auto;
    text-align: center;
    border-bottom: 0.5px solid #ccc;
}

.section-title {
    color: #000;
    font-size: 3.2vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2vw;
}

.section-title span {
    color: var(--primary-color);
}

.filters {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Space between buttons */
}

.filters button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2vw;
    color: #333;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.filters button:hover,
.filters button.filter-active {
    /* background-color: #FF7F50; */
    border-bottom: 2px solid var(--primary-color);

}

.grid-item {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.grid-item.show {
    opacity: 1;
}

.grid-item img {
    height: 285px;
    object-fit: cover;
    width: 285px;
}

.grid {
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2vw;
    justify-content: center;

}

.filter-desc .desc-content {
    width: 70%;
    margin: 2vw auto;
    text-align: left;
}