.products-tab-container {
    padding: 2vw 0;
    margin-top: 4vw;
    text-align: center;
}

.section-title {
    color: #000;
    font-size: 3.2vw;
    text-align: center;
    font-weight: 600;

    margin-bottom: 2vw;
}



.section-title span {
    color: var(--primary-color);
}

.belowfiltersection {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 2vw 0;
}

.filter-desc {
    width: 50%;
}

.filters {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    height: 10vh;
    scroll-behavior: smooth;
}

.filters:hover {
    /* Stop automatic scrolling on hover */
    animation-play-state: paused;
}

/* Customizing the scrollbar for WebKit browsers (Chrome, Safari) */
.filters::-webkit-scrollbar {
    height: 7px;
    /* Adjust the scrollbar height (thickness) */
}

.filters::-webkit-scrollbar-thumb {
    background-color: #000;
    /* Change the scrollbar thumb color */
    border-radius: 10px;
    /* Make the scrollbar thumb rounded */
    border: 2px solid #fff;
    /* Optional: Adds a border around the thumb */
}

/* For non-WebKit browsers, you'll need to use vendor prefixes or JavaScript solutions */
.filters::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Background color of the scrollbar track */
}

.filters button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2vw;
    color: #333;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.filters button:hover,
.filters button.filter-active {
    /* background-color: #FF7F50; */
    border-bottom: 2px solid var(--primary-color);

}

.grid-item {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.grid-item.show {
    opacity: 1;
}

.grid-item img {
    height: 30vh;
    object-fit: cover;
    width: 285px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 0.5vw;
    box-shadow: none;
    transition: all ease 0.5s;
}

.grid-item img:hover {
    scale: 1.05;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grid {
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    gap: 2vw;
    justify-content: center;

}

.filter-desc .desc-content {
    width: 70%;
    margin: 2vw auto;
    text-align: left;
}