.video-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-container .video-text-content {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  /* Center text within the content */
}

.video-text-content h2 {
  line-height: 2.8rem;
  color: #fff;
  font-size: 3rem;
  white-space: normal;
}

.video-container #video-overlay {
  background-color: #2222226f;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video-text-content .video-text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  /* background: linear-gradient(to right, #fd5a0f, #b14d1f); */
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #f05526;
  padding: 0.8vw 1.6vw;
  border-radius: 1.1vw;
  transition: all 10s ease;
  cursor: pointer;
}

.video-text-button i {
  font-size: 24px;
  margin-left: 0.4vw;
}

.video-text-button a {
  text-decoration: none;
  font-size: 1.3vw;
  color: #fff;
}

.video-button {
  display: flex;
  align-items: center;
}

.container {
  height: 100%;
  margin-top: 100px;
  width: 100%;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
  height: 100%;
  width: 100%;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.container #slider {
  position: relative;
}

@keyframes smoothFoldOpen {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}

/*
.slider:nth-child(1)::after {
  content: "Join us on our journey to reshape the future of \A chemical commerce";
  height: 56%;
  width: 40%;
  position: absolute;
  top: 8%;
  left: 2%;
  /* margin: auto 0; */
/* background: linear-gradient(to top,  ); */
/* color: #fff; */
/* border-radius: 0.5vw; */
/* font-size: 3.5vw; */
/* display: flex; */
/* align-items: center; */
/* text-transform: uppercase; */
/* padding: 2vw; */
/* opacity: 0; /* Start invisible */
/* transform: scaleY(0); /* Start folded */
/* transform-origin: top; /* Fold/unfold from the top */
/* animation: smoothFoldOpen 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
*/

.slider:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 8%;
  left: 2%;
  height: 56%;
  width: 40%;
  background: url("../../../public/images/banner1carouseltext.jpg") no-repeat
    center center;
  /* filter: invert(100%) brightness(2) contrast(2); */
  background-size: contain;
  border-radius: 0.5vw;
  opacity: 0; /* Start invisible */
  transform: scaleY(0); /* Start folded */
  transform-origin: top; /* Fold/unfold from the top */
  animation: smoothFoldOpen 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@media (max-width: 768px) {
  .video-container .video-text-content {
    gap: 3vw;
  }

  .video-text-content h2 {
    font-size: 2rem;
    white-space: wrap;
  }

  .video-text-content .video-text-button {
    width: 60%;
    padding: 2vw 4vw;
  }

  .video-text-button a {
    font-size: 20px;
  }
  .container {
    margin-top: 67px;
  }
  .slider:nth-child(1)::after {
    top: 5%;
    left: 3%;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  /* Styles for screen widths between 768px and 1300px */
  .video-text-content .video-text-button {
    width: 24%;
  }
}
