.downloadbrochure {
  background-image: url("../../../../public/images/downloadbrochurebackgrounds/petronewpipe.png ");
}
@media (max-width: 768px) {
  .downloadbrochure {
    background-image: none;
    background-color: #e4e7e9;
  }
}
