
#contact-rewamp {
    min-height: 40%;
    width: 90%;
    position: relaive;
    box-shadow: 0 15px 58px 0 rgba(66, 72, 76, 0.22), 0 5px 14px 0 rgba(66, 72, 76, 0.18);
    overflow: hidden;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
    margin: 4vh auto;
}

#contact-rewamp .leftwrapper {
    width: 40%;
    height: 100%;
}

#contact-rewamp .leftwrapper img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

#contact-rewamp .rightwrapper {
    width: 60%;
    display: grid;
    text-align: center;
}

#contact-rewamp .contact-heading {
    font-weight: 600;
    font-size: 1.8vw;
    text-transform: uppercase;
    color: #42484C;

}

#contact-rewamp .contact-subheading {
    text-align: center;
    font-size: 1.1vw;
    color: #7a7a7a;
}

.partswrapper a {
    text-decoration: none;
}

#contact-rewamp .contact-heading span {
    color: var(--primary-color);
}

#contact-rewamp .partswrapper {
    width: 100%;
    display: flex;
    margin-top: 3.5vw;
    justify-content: center;
    gap: 2vw;

}

#contact-rewamp .partswrapper .mail i,
#contact-rewamp .partswrapper .contact i {
    font-size: 1.7vw;
    /* color: var(--primary-color); */
    color: #fff;
    ;

}

#contact-rewamp .partswrapper .mail h4,
#contact-rewamp .partswrapper .contact h4 {
    font-size: 1.3vw;
    font-weight: 400;
    /* color: #42484cc6; */
    color: #fff;
    display: flex;
    align-items: center;

}

#contact-rewamp .partswrapper .mail,
#contact-rewamp .partswrapper .contact {
    display: flex;
    gap: 0.4vw;
    align-items: center;
    padding: 1vw;
    border-radius: 2vw;
    cursor: pointer;
    /* border: 0.8px solid #42484ca2; */
    background-color: #fd5a0fd2;
}

#contact-rewamp .partswrapper .mail,
#contact-rewamp .partswrapper .contact {
    position: relative;
    overflow: hidden;
}

#contact-rewamp .partswrapper .mail::before,
#contact-rewamp .partswrapper .contact::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FD5A0F;
    transition: all 0.3s ease;
    z-index: -1;
}

#contact-rewamp .partswrapper .mail:hover::before,
#contact-rewamp .partswrapper .contact:hover::before {
    height: 100%;
}

#contact-rewamp .partswrapper .mail:hover,
#contact-rewamp .partswrapper .contact:hover {
    border-color: #FD5A0F;
}

#contact-rewamp .partswrapper .mail:hover i,
#contact-rewamp .partswrapper .contact:hover i,
#contact-rewamp .partswrapper .mail:hover h4,
#contact-rewamp .partswrapper .contact:hover h4 {
    color: #FFFFFF;
    transition: all 0.3s ease;
}