:root {
  --primary-color: #fd5a0f;
  --border-color: rgb(224, 224, 224);
  /* Example primary color */
}

.page1 {
  height: 95%;
  width: 100%;
  /* background: red; */
}

.page3 {
  /* height: 100%; */
  min-height: auto;
  width: 100%;
}

.page2 {
  height: 120%;
}

#footer-page {
  min-height: auto;
}

#contact-home-page {
  height: 35%;
}

.range-of-products-page {
  height: 180%;
}

@media (max-width: 1300px) {
  .page3 {
    height: 80%;
  }
}

@media (max-width: 768px) {
  #footer-page {
    min-height: auto;
  }

  #contact-home-page {
    height: 35%;
  }

  .range-of-products-page {
    height: 140%;
  }

  .page3 {
    height: 75%;
  }
}