:root {
    --primary-color: #FD5A0F /* Example primary color */
  }

.page1,  .page3{
    height: 100%;
    width: 100%;
    /* background: red; */
}

.page2{ 
  height: 120%;;
}
.page3{
  /* background-color: black; */
}

#footer-page{
  height: 60%;
}

@media (max-width:768px){
  #footer-page{
    height: 110%;
  }
}