.process-page {
  height: 120%;
  /* background-color: #ccc; */
  width: 100%;
  /* margin: 5vw 0; */
}


/* .triangle {
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 100px solid #FD5A0F; */
/* Color of the triangle */
/* display: flex;
  justify-content: center;
  align-items: start;

} */

/* .processcon1::before,
.processcon3::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #FD5A0F;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.5s ease;
  z-index: -1;

}

.processcon2::before,
.processcon4::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #FD5A0F;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease;
  z-index: -1;

}

.processcon1:hover::before,
.processcon3:hover::before {
  transform: translateY(0);
  z-index: 0;

}

.processcon2:hover::before,
.processcon4:hover::before {
  transform: translateY(0);
  z-index: 0;

}

.processcontent:hover .processtitle {
  z-index: 999;
  color: #fff;
}

.processcon1 .triangle .icon,
.processcon3 .triangle .icon {
  margin-top: 1vw;
}

.processcontent:hover .triangle span i {
  z-index: 999;
  position: relative;
  color: #fff;
}


.processcon1:hover .triangle {
  border-bottom: 100px solid #fff;
}



.reverse-triangle {
  transform: rotate(180deg);
}

.triangle i {
  z-index: 999;
  color: #fff;
  font-size: 3.5vw;
} */


/* pasted from chatgpt */
/* @media only screen and (min-width: 1024px) {
  .triangle {
    width: 0;
    height: 0;
    border-left: 9.9vw solid transparent;
    border-right: 9.9vw solid transparent;
    border-bottom: 100px solid #FD5A0F;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .processcon1::before,
  .processcon3::before,
  .processcon2::before,
  .processcon4::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #FD5A0F;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 0.5s ease;
    z-index: -1;
  }

  .processcon2::before,
  .processcon4::before {
    transform: translateY(-100%);
  }

  .processcon1:hover::before,
  .processcon3:hover::before,
  .processcon2:hover::before,
  .processcon4:hover::before {
    transform: translateY(0);
    z-index: 0;
  }

  .processcontent:hover .processtitle,
  .processcontent:hover .processpara {
    z-index: 999;
    color: #fff;
  }

  .processcontent .triangle .icon {
    margin-top: 1vw;
  }

  .processcontent:hover .triangle span i {
    z-index: 999;
    position: relative;
    color: #fff;
  }

  .processcon1:hover .triangle {
    border-bottom: 100px solid #fff;
  }

  .reverse-triangle {
    transform: rotate(180deg);
  }

  .triangle i {
    z-index: 999;
    color: #fff;
    font-size: 3.5vw;
  }
} */

/* pasted miniefid from chatgpt after final animtion */
@media only screen and (min-width: 1024px) {
  .processcontent .triangle .icon {
    margin-top: 1vw;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 9.9vw solid transparent;
    border-right: 9.9vw solid transparent;
    border-bottom: 100px solid #FD5A0F;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .processcon1::before,
  .processcon2::before,
  .processcon3::before,
  .processcon4::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #FD5A0F;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 0.5s ease;
    z-index: -1;
  }

  .processcon2::before,
  .processcon4::before {
    transform: translateY(-100%);
  }

  .processcon1:hover::before,
  .processcon2:hover::before,
  .processcon3:hover::before,
  .processcon4:hover::before {
    transform: translateY(0);
    z-index: 0;
  }

  .processcontent:hover .processtitle,
  .processcontent:hover .processpara {
    color: #fff;
    z-index: 999;
  }

  .processcontent:hover .triangle span i {
    z-index: 999;
    color: #fff;
  }

  .processcon1:hover .triangle {
    border-bottom: 100px solid #fff;
  }

  .reverse-triangle {
    transform: rotate(180deg);
  }

  .triangle i {
    position: relative;
    z-index: 999;
    color: #fff;
    font-size: 3.5vw;
  }

  /* end animiation our proccess */
}

.process-page .subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2vw;
}

* .process-page .subheading i {
  font-size: 1.3vw;
}

.process-page h2 {
  text-align: center;
  font-size: 3vw;
  color: #5d6167;
}

.process-page h2 span {
  color: var(--primary-color);
}

.processwrapper {
  height: 85%;
  width: 100%;
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.process1,
.process3 {
  position: relative;
  height: 80%;
  width: 20%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.process2,
.process4 {
  height: 80%;
  width: 20%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column-reverse;
}

.processcon2 .triangle span,
.processcon4 .triangle span {
  transform: rotate(180deg);
}

.processconwrapper {
  /* display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  gap: 2vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  height: 100%;

}

.processcon1,
.processcon3 {
  padding-top: 2.5vw;
}

.processcon2,
.processcon4 {
  padding-bottom: 2.5vw;
}

.processcontent {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;

  /* padding: 0 1vw; */
  color: #888888;
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #f4f4f4;
}

.processtitle {
  color: var(--primary-color);
}

.processimg {
  /* filter: grayscale(100%); */
  /* transition: filter 0.8s ease; */
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.processimg:hover {
  /* filter: grayscale(0%); */
}

.process1 .processcontent:hover~.processimg,
.process2 .processcontent:hover~.processimg,
.process3 .processcontent:hover~.processimg,
.process4 .processcontent:hover~.processimg {
  filter: grayscale(0%);
}

.title .subheading span {
  color: #54595f;
}

@media (max-width: 768px) {
  .processcontent .triangle {
    display: none;
  }

  .process-page {
    height: 250%;
    width: 100%;
  }

  .title {
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
  }

  .title .subheading {
    display: flex;
    align-items: center;
  }

  .title .subheading span {
    font-size: 5vw;
    color: #54595f;
  }

  .subheading i {
    font-size: 5vw;
  }

  .title h2 {
    font-size: 10vw;
  }

  .processwrapper {
    height: 90%;
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 4vw;
    /* align-items: center;; */
  }

  .process1,
  .process3 {
    height: 25%;
    width: 100%;
    flex-direction: column-reverse;
  }

  .process2,
  .process4 {
    width: 100%;
    height: 25%;
    flex-direction: column-reverse;
  }

  .processtitle {
    font-size: 6vw;
  }

  .processimg {
    height: 60%;
    object-fit: cover;
    object-position: center;
  }

  .processpara {
    font-size: 4vw;
    height: 40%;
    gap: 1.5vw;
  }
}