.range-of-products-page {
  width: 100%;
  padding: 2vw 0;
  background-color: #54595f;
}

.rangeproductwrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.range-product-heading {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc50;
}

.subheading {
  display: flex;
  gap: 1vw;
}

.subheading i {
  font-size: 2vw;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.subheading h3 {
  font-size: 2vw;
  color: #fff;
  text-transform: uppercase;
}

.range-product-heading a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1vw 2vw;
  border: 0.8px solid #fff;
  font-size: 18px;
  transition: all ease 0.3s;
}

.range-product-heading a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.range-product-heading span {
  font-size: 18px;
}

.range-product {
  position: relative;
  width: 100%;
  height: 15%;
  margin-bottom: 1vw;
  padding: 0 2vw;
  /* background-color: #6b5d5d; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.8px solid #cccccc50;
}

.range-product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image); /* Use a CSS variable for flexibility */
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Adjust this value for desired opacity */
  z-index: 100; /* Ensure it stays behind the content */
  transition: opacity 0.3s ease;
}

.range-product:hover::before {
  opacity: 0.8;
}

.range-product-image {
  position: absolute;
  top: -70%;
  border-radius: 0.5rem;
  left: 10%;
  width: fit-content;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: scale(0.9);
  z-index: 999;
}

.range-product:hover > .range-product-image {
  opacity: 1;
  transform: scale(1);
}

.range-product-head,
.range-product-desc {
  transition: all 0.3s ease;
  /* Smooth fade out */
}

.range-product:hover .range-product-head,
.range-product:hover .range-product-desc {
  opacity: 0;
  /* Fades out the text elements */
  pointer-events: none;
  /* Disables interaction */
}

.range-product-head {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.range-product-head .number {
  color: var(--primary-color);
  font-size: 2vw;
}

.range-product-head .product-name {
  color: #fff;
  font-weight: 600;
  font-size: 2vw;
}

.range-product-head .product-name:hover {
  color: #fff;
}
.range-product-desc {
  width: 25%;
  font-size: 1.2vw;
  color: #fff;
}

.range-product a {
  text-decoration: none;
  z-index: 100;
}

.range-product i {
  background-color: var(--primary-color);
  font-size: 2.5vw;
  color: #fff;
  /* border: 1px solid #000; */
  padding: 0.5vw 1vw;
}

@media (max-width: 768px) {
  .range-of-products-page {
    padding: 4vw 0;
  }

  .rangeproductwrapper {
    width: 90%;
    margin: 0 auto;
  }

  .range-product-heading {
    /* background-color: red; */
    height: 10%;
  }

  .range-product-heading .subheading i {
    font-size: 5.5vw;
  }

  .range-product-heading .subheading h3 {
    font-size: 4.5vw;
  }

  .range-product-heading a {
    white-space: nowrap;
    padding: 1vw 2vw;
  }

  .range-product-heading a span {
    font-size: 4vw;
  }

  .range-product-heading a i {
    font-size: 4vw;
  }

  .range-product-heading a i:hover {
    color: #fff;
  }

  .range-product {
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 6vw;
  }

  .range-product-head {
    flex-direction: row;
    align-items: center;
    gap: 2vw;
  }

  .range-product-head .number,
  .range-product-head .product-name {
    font-size: 5vw;
  }

  .range-product-desc {
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
  }

  .range-product a i {
    font-size: 6vw;
    padding: 1vw 3vw;
  }
}
