.video-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-container .video-text-content {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  /* Center text within the content */
}

.video-text-content h2 {
  line-height: 2.8rem;
  color: #fff;
  font-size: 3rem;
  white-space: normal;
}

.video-container #video-overlay {
  background-color: #2222226f;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video-text-content .video-text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  /* background: linear-gradient(to right, #fd5a0f, #b14d1f); */
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #f05526;
  padding: 0.8vw 1.6vw;
  border-radius: 1.1vw;
  transition: all 10s ease;
  cursor: pointer;
}


.video-text-button i {
  font-size: 24px;
  margin-left: 0.4vw;
}

.video-text-button a {
  text-decoration: none;
  font-size: 1.3vw;
  color: #fff;
}


.video-button{
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .video-container .video-text-content {
    gap: 3vw;
  }

  .video-text-content h2 {
    font-size: 2rem;
    white-space: wrap;
  }

  .video-text-content .video-text-button {
    width: 60%;
    padding: 2vw 4vw;
  }

  .video-text-button a {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {

  /* Styles for screen widths between 768px and 1300px */
  .video-text-content .video-text-button {
    width: 24%;
  }
}