.aboutusmaincontainer {
    min-height: auto;
    padding-top: 10vh;
}

.aboutusmaincontainer .whoweare {
    width: 50%;
    padding: 4vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    color: #000;

}

.whoweare h1 {
    color: #000;
    white-space: nowrap;
    font-size: 4.5vw;
    font-weight: 600;
}

.whoweare .whoweareDesc {
    font-size: 1.2vw;
    width: 90%;
    line-height: 2.2vw;
}

.whoweare h1 span {
    color: var(--primary-color);
}

.aboutusmaincontainer .whoweareimg {
    width: 100%;
    height: 400px;
    margin-top: 2vh;
    object-fit: cover;
}

.aboutusmaincontainer .ourStrengths {
    width: 100%;
    padding: 6vw 6vw;
    background-image: url("../../../public/images/ourstrengthbg.jpg");
    margin: auto;
    display: flex;
}

.ourStrengths .part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.ourStrengths .part1 .subheading {
    color: #54595F;
    font-size: 1.3vw;
    text-transform: uppercase;
}

.subheading i {
    color: var(--primary-color);
}

.ourStrengths .heading {
    color: var(--primary-color);
    font-size: 3vw;
    line-height: 3.3vw;
}

.ourStrengths .smalltext {
    color: #7c7676;
}

.pointers {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 2vh;
}

.point {
    width: 90%;
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 0.5vw;
    transition: all ease 0.5s;
}

.point:hover {
    background-color: #fff;
    transform: translateX(20px);
}

.point i {
    color: var(--primary-color);
    font-size: 1.5vw;
}

.point .pointText {
    color: #7c7676;
    font-size: 1.2vw;
}

.part2 {
    width: 50%;
}

.part2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.ournumbers {
    display: flex;
    flex-direction: column;
    padding: 4vw 0;
    gap: 4vw;
}

.ournumbers .heading {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
}

.numbersgrid {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.numbersgrid .elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbersgrid .elem .number {
    transform: translateZ(0);
    backface-visibility: hidden;
    font-size: 2.5vw;
    color: var(--primary-color);
    font-weight: 500;
}

.numbersgrid .elem .numberDesc {
    font-size: 1.3vw;
    color: #4B5058;
}