.breadcrumb {
    height: 50%;
    /* max-height: auto; */
    /* background-color: #FCE2D7; */
    margin-top: 125px;
    background-image: url("../../../public/images/cosmetic\ bg\ banner.png");
    background-size: cover;
    padding: 2vw 0 0 4vw;
    position: relative;
}

.breadcrumb::before {
    content: "";
    height: 100%;
    width: 100%;
    /* background-image: url("../../../public/images/aboutchemicals.png"); */
    background-color: #FDE7DD;
    /* background-size: cover; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.breadcrumb-link {
    text-transform: uppercase;
    color: #000;

}

.breadcrumb-link a {
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
}

.breadcrumb-link i {
    font-size: 1.5vw;
}

.breadcrumb-product-title {
    color: #000;
    font-size: 5vw;
    position: absolute;
    top: 33%;
    font-weight: 400;
    left: 3.5%;
}

.breadcrumb-desc {
    width: 90%;
    margin: 1vw 0;
    padding: 0 0 0 2vw;
}
.breadcrumb-desc p{
    font-size: 1.4vw;

}